body {
    height: 100dvh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 144, 251);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}